@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:ital@1&display=swap');
/*Styling di base. Usato per colpire tutti gli elementi*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

*::after, /*After ti dice cosa succede dopo ogni altra stilizzazione*/
*::before{ /*Before ti dice cosa succede prima di ogni altra stilizzazione*/
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{/*E' un root style Wrapper, cioè un elemento che circonda tutta l'applicazione dove possiamo inserire delle variabili globali*/
    --grey1: #f8f8ff;
    --grey2: #f3f4f5;
    --grey3: #65676b;
    --black1: #101010;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    background-color: white;
    font-family: "Montserrat", sans-serif;
}
/*Definizione di elementi di stile usati spesso*/
h1{
    font-size: 96px;
    line-height: 105px;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
}
.container{ /*Container standard*/
    max-width: 1140px; /*Larghezza massima standard*/
    margin: auto;
    width: calc(100% - 48px); /*Prende la larghezza massima disponibile e toglie 48px*/
}

.flex-container{ /*Container flex*/
    display:flex;
}

.align-center{
    align-items:center;
}

.justify-center{
    justify-content:center;
}

.space-between{
    justify-content: space-between;
}

#navbar{
    background-color: white;
    width: 100%;
    height: 72px;
}
#search-nav li,
#nav-list li{
    padding: 10px 16px;
    border-radius: 16px;
    color: var(--grey3);
    font-weight: 500;
    font-size:14px;
}
.active-link{
    background-color: var(--grey2);
}

#claim{
    background-color: var(--grey1);
    height: 280px;
}

#search-nav{
    height: 72px;
}

#search-nav input{
    max-width: 367px;
    width: 100%;
    height: 48px;
    border-radius: 16px;
    background-color: var(--grey2);
    border:none;
    padding-left:30px;
    outline: none;
    font-size: 16px;
    color: var(--black1);
}
/*3:47*/